/* couleurs */
/*
    rgb(9, 29, 43)
    rgb(43, 161, 179)
    rgb(169, 197, 202)      rgb(239, 244, 245) 95% lighter  #90b5bb 65%
    rgb(12, 121, 158)

    rgb(0, 35, 84)
    rgb(9, 29, 43) bas de l'image

*/

@font-face {
    font-family: 'lemonchi';
    src: url("/fonts/lemonchi-webfont.woff") format("woff"),
        url("/fonts/lemonchi-webfont.woff2") format("woff2"),
        url("/fonts/LEMONCHI.ttf") format("ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(239, 244, 245);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(169, 197, 202);
    max-width: 1500px;
    margin: 0 auto;
}

.page {
    background-color: black;
}

a {
    color: rgb(169, 197, 202);
    text-decoration: none;
    transition: 50ms;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

ul li {
    padding: 10px 0;
    line-height: 1.5em;
}

section {
    padding: 20px 10px;
}

.bold {
    font-weight: 600;
}

.background-logo {
    /* background-color: rgba(239, 244, 245, 0.8); */
    background-color: rgb(239, 244, 245);
    border-radius: 1px;
    padding: 2px;
}

.big-logo {
    height: 60px !important;
}

.bigger-logo {
    height: 70px !important;
}

.light {
    background-color: rgba(169, 197, 202, 0.8);
    color:rgb(9, 29, 43);
}

.dark {
    background-color: rgba(12, 121, 158, 0.5);
    color: rgb(239, 244, 245);
}

.headband--dark {
    background: rgba(9, 29, 43, 0.85);
    color: rgb(239, 244, 245);
}

.link--dark {
    color: rgb(12, 121, 158);
}

.back.dark strong  {
    color:rgb(43, 161, 179);
}

/* SECTIONS style général */
section {
    background-image: linear-gradient(black, #0c799e);
}

.section_title {
    color: rgb(169, 197, 202);
    margin: 50px 0;
    text-align: center;
    font-family: 'lemonchi', cursive;
}

.section_content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}



/* FLIP */
.flip_contener {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.flip_contener:hover .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .7s ease-in-out;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    line-height: 1.5em;
}

.flip_headband {
    width: 100%;   
}

.flip_headband_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.flip_title {
    font-family: 'Ubuntu', sans-serif;
    color: inherit;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    padding: 10px 20px; 
}

.flip_subtitle {
    font-size: 1.5em;
    font-weight: 100;
    color: inherit;
    margin-bottom: 50px;
    text-align: center;
}

.flip_technos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.flip_technos img {
    height: 50px;
    margin: 5px;
}

.flip_item {
    width: 100%;
    margin-bottom: 20px;
}

.flip_item_title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.back.dark .flip_item_title {
    color:  rgb(144, 181, 187);
}

.back.light .flip_item_title {
    color:  rgb(12, 121, 158);
}

.flip_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flip_link a {
    padding: 5px 20px;
}


/* --------------------------------------------------- */
/* NAVIGATION */
#navigation {
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav {
    background: rgba(9, 29, 43, 0.9);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

#main-nav a {
    font-size: 1.2em;
    padding: 0 20px;
}

#navigation--responsive {
    display: none;
}


/* --------------------------------------------------- */
/* SECTION HERO */
#hero {
    background: url("images/fond3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding: 0;
}

#headband {
    background:rgba(9, 29, 43, 0.5);
    /* margin-top: 20%; */
    position: relative;
    top: 20%;
}

h1 {
    font-family: 'lemonchi', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(43, 161, 179);
}

#headband h2, 
#headband h3 {
    color: rgb(239, 244, 245);
    margin-bottom: 20px;
}

#content {
    margin: 0 auto;
    width: 50%;
    padding: 50px 0;
    text-align: center;
}

#prenom, 
#nom {
    display: inline-block;
}

#contact-btn {
    color: rgb(43, 161, 179);
    border: solid 1px rgb(43, 161, 179);
    border-radius: 15px;
    padding: 10px;
    transition: 50ms;
}

#contact-btn:hover {
    opacity: 1;
    color: rgb(239, 244, 245);
    background-color: rgb(43, 161, 179);
}




/* --------------------------------------------------- */
/* SECTION FORMATION */

.formation .front,
.formation .back {
    width: 410px;
    height: 520px;
}

.formation_year,
.experience_date {
    font-size: 1.2em;
}

.formation_logo {
    height: 75px;
    margin-bottom: 20px;
}

#licence-pro ul li {
    padding: 5px 0;
    line-height: 1.2em;
}

#licence-pro .back {
    line-height: 1.2em;
}


/* --------------------------------------------------- */
/* SECTION EXPERIENCE */
#experience-section .section_content {
    margin-left: 40px;
    margin-right: 40px;
}

.experience {
    flex: 1;
}

.experience .front,
.experience .back {
    width: 100%;
    height: 470px;
}

.experience_logo {
    margin-bottom: 40px;
}

.experience .flip_technos img {
    height: 60px;
    margin: 0 10px;
}




/* --------------------------------------------------- */
/* SECTION PROJETS */
.projet .front,
.projet .back {
    width: 450px;
    height: 770px;
}

.projet_technos img {
    height: 50px;
    margin: 5px;
}

.projet i {
    margin-right: 10px;
}

#projet_carte .front {
    background: url("images/projets/projet_carte.PNG");
    background-size: cover;
}

#projet_velos {
    padding: 5px 0;
}

#java-logo {
    height: 80px;
}

#projet_velos .front {
    /* background: url("images/projets/projet_velos.png"); */
    background-size: cover;
}

#projet_velos ul li,
#projet_blog ul li {
    padding: 5px 0;
    line-height: 1em;
}

#projet_velos .back,
#projet_blog .back {
    line-height: 1em;
}

#projet_integration .front {
    /* background: url("images/projets/projet_integration.png"); */
    background-size: cover;
}


/* --------------------------------------------------- */
/* SECTION TECHNOS */
.technos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.techno {
    height: 100px;
    margin: 20px;
    transition: 1s;
}

.techno img {
    height: 100%;
}

.techno:hover {
    transform: scale(2);
}

/* -------------------------------------------- */
/* FOOTER */
footer nav {
    padding: 10px;
    text-align: center;
}

footer nav a {
    font-size: 1.2em;
    padding: 0 20px;
}


/* --------------------------------------------------- */
/* BOUTON HAUT DE PAGE */
#gotop-btn {
    display: none;
    border: solid 1px #2ba1b3;
    border-radius: 25px;
    background-color: rgba(9, 29, 43, 0.8);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: 50ms;
}

#gotop-btn:hover {
    background-color: rgba(44, 162, 181, 0.8);
}

#gotop-btn a {
    color: #2ba1b3;
}

#gotop-btn:hover a {
    color: black;
}

#gotop-btn a:hover {
    opacity: unset;
}

/* ------------------------------------------------ */
/* PAGE SOURCES */
#sources-section {
    margin: 60px 50px 50px 50px;
}

.sources_item {
    margin-bottom: 50px;
}

.sources_title {
    margin-bottom: 10px;
}

#logos li:first-of-type {
    padding-top: 0;
}

.sources_item li {
    padding: 2px 0;
}

/* -------------------------------------------------- */
/* RESPONSIVE */
@media screen and (max-width: 1250px) {
    .experience .front,
    .experience .back {
        height: 510px
    }
}


@media screen and (max-width: 1050px) {
    #main-nav {
        display: block;
        text-align: center;
    }

    #main-nav div:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    #experience-section .section_content {
        flex-direction: column;
    }

    .experience .front,
    .experience .back {
        width: 100%;
        height: 100%;
    }

    .projet .front,
    .projet .back {
        height: 1000px;
    }
}    

@media screen and (max-width: 750px) {
    #navigation {
        height: 0px;
    }

    #navigation--responsive {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 160px;
    }

    #main-nav--responsive {
        display: flex;
        flex-direction: column;
        transform: translateX(-200px);
        transition: 1s;
        background: rgba(9, 29, 43, 0.9);
        padding: 10px;
        margin-left: -10px;
    }

    #main-nav--responsive a {
        padding: 5px 0;
    }

    #bars-icon {
        margin-bottom: 10px;
        font-size: 2em;
        color:rgb(169, 197, 202);
    }

    #main-nav {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .projet .front,
    .projet .back {
        width: 300px;
    }
}
